

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;
  
    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 122;
    /*You can change Your Website Main Color css : Purple 250 - Green 142 - Blue 230 - Pink 340*/ 
  
    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 100%, 41%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 0%, 0%);
    --text-color-alt: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --text-color: #fff;
    --text-color-bl: #000000;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

}
/* btn */
.btn{
    background-color: var(--first-color);
    border: none;
    padding: 15px 16px;
    text-align: center;
    color: var(--first-color);
    opacity: .3;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}

body{
    background-color: white;
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: 3s all;
}

.header, .section , .footer{
    max-width: 1440px;
    margin: 0 auto;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.bus-btn-container {
    text-align: center;
    position: relative;
    border-radius: 12px;
    background-color: rgba(76, 175, 80, 0.2)
  }
  
  .bus-btn {
    color: var(--first-color);
    border: none;
    padding: 1rem 1.5rem;
    text-align: center;
    cursor: pointer;
    gap: .5rem;
    display: flex;
    align-items: center;
  }
/* divider css */
.br-top{
  border-radius: 30px 30px 10px 10px;
  -moz-border-radius: 30px 30px 10px 10px;
  -webkit-border-radius: 30px 30px 10px 10px;
  border: 0px solid var(--first-color);
}
.div-b{
border-bottom: 2px dashed;
}
.div-r{
  border-right: 2px dashed;
  }
.div-t{
  border-top: 2px dashed;
  }
.div-y{
  border-top: 2px dashed;
  border-bottom: 2px dashed;
}
main {
display: flex;
flex-direction: column;
}

/* fetured Section css */


.features-section {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    background-image: url('./images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 650px;
}
.features-content{
  width: 60%;
}

.features-content h2 {
    font-size: 2.8rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}
.features-content p {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.features-content > span {
    color: var(--first-color);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.features-stats {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: -60px;
  }

  .features-stat {
    width: 360px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f3f3f3;
    border-bottom: 2px solid var(--first-color);
    border-radius: 10px;
  }

  .features-stat img {
    font-size: 48px;
    margin-bottom: 10px;
  }

.features-stats span {
    font-size: 2.5rem;
    font-weight: bold;
    display: block;
}

.features-actions {
    order: 3;
    flex-grow: 1;
    text-align: center;
}


.buy-tickets-button{
    background-color: var(--first-color);
    color: var(--text-color-bl);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    scroll-behavior: smooth;
    transition: 3s all;
}

/* copune section css */

.coupon-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    gap: 4rem;
    width: 100%;
  }
  
  .coupon-item {
    position: relative;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    background-color: #FFBF0F;
    border: none;
    border-radius: 5px;
    width: 573px;
    height: 218px;
    text-align: center;
  }
  .divider {
    position: absolute;
    height: 220px;
    top: -1px;
    left: 50%;
  }
  .divider > img{
    height: 100%;
  }

  
  .coupon-offer {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--first-color);
    margin-bottom: 10px;
  }
  
  .coupon-description {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .coupon-validity {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .coupon-code {
    font-size: 2.5rem;
    font-weight: bold;
    color: #555;
  }
  .coupon-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
/*  Seat booking css */

#seat__number{
  background-color: var(--first-color);
  color: var(--text-color);
  padding: 2px 4px;
}


/* Footer css */

footer {
    position: relative;
    background-color: #0a0a0a;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}


footer .footer-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    order: 1;
    flex-grow: 1;
}

footer .footer-description p {
    margin-bottom: 0;
    color: var(--text-color);
}

footer .footer-content {
    order: 1;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-content > p{
    color: var(--text-color);
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    order: 2;
    flex-grow: 1;
}

footer ul li {
    margin: 0 1rem;
}

footer a {
    text-decoration: none;
    color: #007bff;
}

.app-links {
    order: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.app-links > p{
color: var(--text-color);
}
.app-links > a{
    width: 180px; 
}
.app-links > a > img {
    width: 100%;
    background: #fcfcfc;
}
.app-store-link {
    margin-right: 1rem;
}
.foot-divider{
    border-top: 2px dashed rgb(90, 90, 90);
}

.privacy-link {
    text-decoration: underline;
}


/* responsive site */
@media screen and (max-width: 1200px) {
  .features-stat {
    width: 280px;
    padding: 20px;
  }
  #coupon-section{
    padding: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .features-section {
      padding: 4rem;
      background-size: contain;
  }
  .features-content{
    position: absolute;
    width: 90%;
    top: 280px;
  }
  .features-content h2 {
      color: var(--text-color-bl);
      font-size: 1.5rem;
  }
  .features-content p {
      font-size: 1rem;
      color: var(--text-color-bl);
  }
  
  .features-content > span {
      color: var(--first-color);
  }
  
  .features-stats {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      bottom: -280px;
    }
  
    .features-stat {
      width: 460px;
      padding: 20px;
    }
    /* coupon section */
    #coupon-section{
      margin-top: 280px;
    }
    .coupon-item {
      width: 480px;
    }
    .coupon-offer {
      font-size: 1.8rem;
    }
    
    .coupon-description {
      font-size: 1rem;
    }
    
    .coupon-validity {
      font-size: 1rem;
    }
    .coupon-code {
      font-size: 1.8rem;
    }
    .footer-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-description{
      padding: 4px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center!important;
    }
}
@media screen and (max-width: 480px) {
    .features-section {
        padding: 4rem;
        background-size: contain;
    }
    .features-content{
      position: absolute;
      width: 90%;
      top: 220px;
    }
    
    .features-content h2 {
        font-size: 1.5rem;
        color: var(--text-color-bl);
        margin-bottom: 1rem;
    }
    .features-content p {
        font-size: 1rem;
        color: var(--text-color-alt);
        margin-bottom: 1rem;
    }
    
    .features-content > span {
        color: var(--first-color);
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    .features-stats {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        bottom: -220px;
      }
    
      .features-stat {
        width: 360px;
        padding: 20px;
      }
      /* coupon section */
      #coupon-section{
        margin-top: 280px;
      }
      .coupon-item {
        width: 400px;
      }
      .coupon-offer {
        font-size: 1.5rem;;
      }
      
      .coupon-description {
        font-size: 1rem;
      }
      
      .coupon-validity {
        font-size: 1rem;
      }
      .coupon-code {
        font-size: 1.5rem;
      }
      
}
@media screen and (max-width: 390px) {
  
}

@media screen and (max-width: 320px) {
   

}